<!DOCTYPE html>
<html lang="pt-br" class="no-js">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AuvoSystems</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AuvoSystems.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/magnific-popup.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/font-awesome.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/themify-icons.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/nice-select.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/flaticon.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/gijgo.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/animate.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/slick.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/slicknav.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true">
</head>
<body>
    @*header_start*@
    <header class="">
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-xl-3 col-lg-2">
                            <div class="logo-img">
                                <a class="text-light" asp-area="" asp-controller="Home" asp-action="Index">AuvoSystems</a>
                            </div>
                        </div>
                        <div class="col-xl-9 col-lg-10">
                            <div class="main-menu  d-none d-lg-block text-right">
                                <nav>
                                    <ul id="navigation">
                                        <li><a class="active" asp-area="" asp-controller="Home" asp-action="Index">home</a></li>
                                        <li><a asp-area="" asp-controller="Home" asp-action="GerarOrdemPagamento">Ordem Pagamento</a></li>
                                        <li><a asp-area="" asp-controller="Home" asp-action="Sobre">Sobre</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </header>
    @*header_end*@

    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    <footer class="border-top footer text-muted">
        <div class="container text-center">
            &copy; 2023 - AuvoSystems
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
