@model NotificacaoModel
@{
    ViewData["Title"] = "Error";
}

<section>
    <div class="bradcam_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text text-center">
                        <h3>Erro</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <h2 class="text-danger">Um erro ocorreu durante o processamento dos dados</h2>

        @{
            foreach(var notificacao in Model.Notificacoes)
            {
                <div class="col-md-4">
                    <p>@notificacao.Mensagem</p>
                </div>
            }
        }
    </div>

</section>