@{
    ViewData["Title"] = "Home Page";
}

<form asp-controller="Home" asp-action="GerarOrderPagamento" method="post" enctype="multipart/form-data">
    <h2>Selecione arquivos para gerar Ordem</h2>
    <div class="form-group">
        <label for="nome">Seu Nome</label>
        <input type="text" class="form-control" name="Responsavel" placeholder="Qual é o seu nome?">
    </div>
    <hr />
    <div class="form-group">
        <label for="arquivo">Selecione os arquivos</label>
        <input type="file" class="form-control" name="Arquivos" id="arquivo" placeholder="Arquivos" multiple>
    </div>
    <hr />
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Gerar Ordem</button>
    </div>
</form>
