@{
    ViewData["Title"] = "Sobre";
}

<section>
    <div class="bradcam_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text text-center">
                        <h3>Sobre</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="about_wrap_area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-11">
                    <div class="about_heading text-center">
                        <h3>Sobre Desafio na Carreira</h3>
                    </div>
                </div>
            </div>
            <div class="about_info_wrap">
                <div class="row">
                    <p>
                        Durante a minha Carreira profissional, o Desafio que mais me marcou foi quando tive que implementar mensagens instantaneas. Toda vez que ocorria uma inserção
                        ou atualização em algumas tabelas do banco de dados, tinha que capturar esses dados pela aplicação e publicar em uma fila.
                    </p>
                    <p>Estes dados eram enviados em forma de mensagens nas filas, para um aplicativo externo</p>
                    <p>A implementação foi feita em uma das <strong>WebAPI .Net Core 5</strong>, contexto de <strong>venda</strong> de um microsserviço.</p>
                    <p>Para capturar os dados, foi utilizado a tecnologia <strong>SignalR</strong></p>
                    <p>Para enviar as mensagens, foi utilizado a tecnologia de mensageria <strong>RabbitMQ</strong> implementado com o <strong>MassTransit</strong></p>
                    <p>
                        Quando falamos de mensageria, podemos ter comunicação síncrona ou assícrona, onde temos um publicador (Publisher), que envia
                        a mensagem para uma exchange e do outro lado, um consumidor (Consumer) que recebe mensagem por meio de uma fila e trata os dados.
                    </p>
                    <p>este desafio me marcou muito porque foi o primeiro contato que tive com ambas tecnologias e arquitetura, até então só conhecia comunicação 
                        entre sistemas por meio de requisição http. A comunicação por mensageria foi um grande salto e abriu a mente para conhecer o ecossistema de microsserviços</p>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-10">
                        <div class="about_banner">
                            <img src="img/about/about_banner.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>